files:
  "/etc/httpd/conf.d/wsgi_custom.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      WSGIApplicationGroup %{GLOBAL}

option_settings:
  aws:elb:listener:443:
    SSLCertificateId: arn:aws:acm:eu-west-2:580864642192:certificate/31d5a5fd-9bcb-497a-8c01-6db838ae4f31
    ListenerProtocol: HTTPS
    InstancePort: 80