<!DOCTYPE html>
<html>
<head>
    <title>MantaSec - Vulnerability Management Platform</title>
    <link href="/static/theme/css/main.css" rel="stylesheet">
</head>
<body>
    <div class="app-container">
        <div class="app-header">
            <div class="app-header-logo">
                <img class="app-header-logo-icon" src="{{ user_image }}" alt="User Image" />
                mantasec
            </div>
            <div class="app-header-content">
                <div class="app-header-content-left">
                    <input type="text" class="search-input">
                    <button class="search-icon">?</button>
                </div>
                <div class="app-header-content-right">User Profile Details Here</div>
            </div>
        </div>
        <div class="app-main">
            <div class="app-sidebar"></div>
            <div class="app-outer"></div>
        </div>
    </div>
</body>
</html>
