<!DOCTYPE html>
<html>
<head>
    <title>MantaSec - Vulnerability Management Platform</title>
    <link href="/static/theme/css/main.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
</head>
<body>
    <div class="app-container">
        <div class="app-header">
            <a href="/">
            <div class="app-header-logo">
                <img class="app-header-logo-icon" src="/static/theme/images/MantaSecLogo-Outline-32.png" alt="User Image" />
                mantasec
            </div>
            </a>
            <div class="app-header-content">
                {{ headercontent }}
            </div>
        </div>
        <div class="app-navbar">
            {{ navbar }}
        </div>
        <div class="app-main">
            <div class="app-sidebar">
                {{ sidebar }}
            </div>
            <div class="app-outer">
                <div class="app-inner">
                    <div class="row">
                        <div class="widget-one">
                            <div class="widget">
                                <div class="widget">
                                    <h1>Welcome to mantasec</h1>
                                    <p><i>mantasec</i> is an up and coming vulnerability management platform. The project aims to assist users in tracking vulnerabilities in their system, streamlining remediation work, and demonstrating security return-on-investment to business leaders.</p>
                                    <p>&nbsp;</p>
                                    <p>To stay up-to-date with company news, follow us on Twitter <a class="highlight-text" href="https://twitter.com/MantaSecCom">@MantaSecCom</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="center-div"><img src="/static/theme/images/MantaSec Logo-01-256.png" alt="Manta Logo>" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
