<!DOCTYPE html>
<html>
<head>
    <title>MantaSec - Vulnerability Management Platform</title>
    <link href="/static/theme/css/main.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
</head>
<body>
    <div class="app-container">
        <div class="app-header">
            <a href="/">
            <div class="app-header-logo">
                <img class="app-header-logo-icon" src="/static/theme/images/MantaSecLogo-Outline-512.png" alt="User Image" />
                mantasec
            </div>
            </a>
            <div class="app-header-content">
                {{ headercontent }}
            </div>
        </div>
        <div class="app-navbar">
            {{ navbar }}
        </div>
        <div class="app-main">
            <div class="app-sidebar">
                {{ sidebar }}
            </div>
            <div class="app-outer">
                <div class="app-inner">
                    <div class="row">
                        <div class="widget-one"><div class="widget"><h3>Vulnerabilities</h3></div></div>
                    </div>
                    {{ vulnlist }}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
